*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;

}




.wrapper{
    width: 100%;

    display: flex;
}
.signup{
    margin: 20px auto;
    padding: 0px auto;
    width: 40em;
    
}


.sideBar{
    
    width: 20vw;
    height: 90vh;
    left: 0;
    border:1px solid #555;
}
.main{

    height: 90vh;
    overflow: auto;
    
}

.tempalte__message{
    height: 80vh;
    background-color: #fff;
    background-image: url('./sambaPOS.png');
    background-repeat: no-repeat;
    background-position: center;
}
.tempalte__message textarea{
    background-color: transparent;
}
.reply_message{
    border: 1px solid #555;
    position: fixed;
    display: none;
    bottom: 10px;
    right: 20px;
}

.list__name{
    font-size: 12px;
    font-weight: bold;
    line-height: 100%;
    margin: auto 0;
}
.list__subject , .list__date{
    font-size: 12px;    
    line-height: 100%;
    margin: auto 0;
}
.avatar_list{
    height: 30px;
    width: 30px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    margin: 0 5px;  
}
.tab__header{
    font-size: 14px;
}
.side_bar_menu{
    font-size: 14px;
}

.info__email , .info__date{
    font-size: 12px;
}
.detail__button{
    height: 30px;
}

.detail__frame p , span , div {
    font-size: 12px;
}