{% extends 'base_layout.html' %}
{% block title %}
    <title>Gelen Kutusu</title>
{% endblock %}
{% block content %}
    <div class="container-fluid mt-0" >
        <div class="container border-bottom border-info mb-2">
            <div class="row align-items-center mt-1 mb-1">
                <input class='col-1 ' name='message-checkbox' type="checkbox" onclick="toggle(this)">
                 <a href='a'><i class="fas fa-trash-alt "></i></a>

            </div>
        </div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active text-info" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true">Gelen Mesajlar</a>
              <a class="nav-item nav-link text-warning" id="nav-unread-tab" data-toggle="tab" href="#nav-unread" role="tab" aria-controls="nav-unread" aria-selected="false">Okunmamış Mesajlarlar</a>
              <a class="nav-item nav-link text-danger" id="nav-wait-tab" data-toggle="tab" href="#nav-wait" role="tab" aria-controls="nav-wait" aria-selected="false">Beklediklerim</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
                <form>
                    {% for mail in inbox_mails %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a  class='row' 
                            href="/mails/detail-mail/{{mail.uid}}/")>
                                <input class='col-1 list__checkbox' name='message-checkbox' type="checkbox">
                                <p class="col-2 list__name">{{ mail.from_name}}</p>
                                <p class="col-6 list__subject">{{ mail.subject}}</p>
                                <p class="col lis__date">{{ mail.date}}</p>
                            </a>
                        </li>
                    </ul>    
                    {% endfor %}
                </form>
            </div>
            <div class="tab-pane fade" id="nav-unread" role="tabpanel" aria-labelledby="nav-unread-tab">

            </div>
            <div class="tab-pane fade" id="nav-wait" role="tabpanel" aria-labelledby="nav-wait-tab">

            </div>
        </div>
    </div>
    <script>
        const toggle = (e)=>{
            checkboxes = document.getElementsByName('message-checkbox');
            for(let i = 0 ; i<checkboxes.length ; i++)
                checkboxes[i].checked = e.checked;
           
        }
    </script>  
{% endblock %}