{% extends 'base_layout.html' %}
{% block title %}
    <title>Giden Kutusu</title>
{% endblock %}
{% block content %}
    <div class="container-fluid mt-0" >
        <div class="container border-bottom border-info mb-2">
            <div class="row align-items-center mt-1 mb-1">
                <input class='col-1 ' name='message_checkbox_outbox' type="checkbox" onclick="toggle(this)">
                <button class="btn bg-translate " data-toggle="modal" name='outbox' data-target="#delete_modal" >
                    <i class="fas fa-trash-alt "></i>
                </button>
            </div>
        </div>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active text-info tab__header" id="nav-out_all-tab" data-toggle="tab" href="#nav-out_all" role="tab" aria-controls="nav-out_all" aria-selected="true" onclick="selectForm(this)">
                Gönderilen Mesajlar</a>
              <a class="nav-item nav-link text-warning tab__header" id="nav-my_out-tab" data-toggle="tab" href="#nav-my_out" role="tab" aria-controls="nav-my_out" aria-selected="false" onclick="selectForm(this)">
                Benim Gönderdiğim Mesajlarlar</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-out_all" role="tabpanel" aria-labelledby="nav-out_all-tab">
                <form action="{% url 'mails:delete' %}" method="POST" name='out' id='nav-out_all-tab_form'>
                    {% csrf_token %}
                    {% for mail in outgoing_mails %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-0 ">
                            <a  class='row text-info  p-2' 
                            href="/mails/detail-mail/{{mail.0.uid}}/outBox/")>
                                <input class='col-1 list__checkbox m-auto' name='message_checkbox_outbox' value="{{mail.0.uid}}" type="checkbox">
                                <p class="col-2 list__name text-truncate ">{{ mail.0.to_email}}</p>
                                <p class="col-4 list__subject text-truncate text-truncate ">{{ mail.0.subject}}</p>
                                <div class="col-3 d-flex m-0" >
                                    {% for person in mail.1 %}
                                        <p class='rounded-circle text-white avatar_list ' 
                                        style='background:{{person.personColor}};'
                                        data-toggle="tooltip" title="{{person.full_name}}"
                                        >
                                            {{person.avatar}}
                                        </p>
                                    {% endfor%}
                                </div>
                                <p class="col-2 list__date">{{ mail.0.date}}</p>
                            </a>
                        </li>
                    </ul>    
                    {% endfor %}
                </form>
            </div>
            <div class="tab-pane fade" id="nav-my_out" role="tabpanel" aria-labelledby="nav-my_out-tab">
                <form action="{% url 'mails:delete' %}" method="POST" name='out' id='nav-my_out-tab_form'>
                    {% csrf_token %}
                    {% for mail in my_outgoing_mails %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-0">
                            <a  class='row text-warning p-2 ' 
                            href="/mails/detail-mail/{{mail.0.uid}}/outBox/")>
                                <input class='col-1 list__checkbox m-auto' name='message_checkbox_outbox' value="{{mail.0.uid}}" type="checkbox">
                                <p class="col-2 list__name text-truncate ">{{ mail.0.to_email}}</p>
                                <p class="col-4 list__subject text-truncate ">{{ mail.0.subject}}</p>
                                <div class="col-3 d-flex" >
                                       
                                    {% for person in mail.1 %}
                                        <p class='rounded-circle text-white avatar_list ' 
                                        style='background:{{person.personColor}};'
                                        data-toggle="tooltip" title="{{person.full_name}}"
                                        >
                                            {{person.avatar}}
                                        </p>
                                    {% endfor%}
                                </div>
                                <p class="col-2 list__date">{{ mail.0.date}}</p>
                            </a>
                        </li>
                    </ul>    
                    {% endfor %}
                </form>
            </div>
        </div>
        <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Seçili mailler silinsin  mi?
                </div>
                <div class="modal-footer">
                    <button type='submit' class="btn btn-outline-danger " id='delete_button' name='nav-out_all-tab_form'  onclick="submitFormToDelete(this)" data-dismiss="modal" >SİL</i></button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                </div>
              </div>
            </div>
        </div>

    </div>
    <script>
  
        const selectForm = (e)=>{
            const btn = document.getElementById('delete_button');
            console.log(btn)
            btn.setAttribute('name',e.id+'_form');
        };
        const toggle = (e)=>{
            checkboxes = document.getElementsByName('message_checkbox_outbox');
            for(let i = 0 ; i<checkboxes.length ; i++)
                checkboxes[i].checked = e.checked;
           
        }

    </script>  
{% endblock %}